@import 'bourbon/bourbon';
/* \$visual-grid: true;
\$visual-grid-color: #0cb9e6;
\$visual-grid-size: 1600px; */
@import 'neat/neat';


$border-box-sizing: true !default;

/* media queries */
$tablet: new-breakpoint(max-width 600px 4);
$mobile: new-breakpoint(max-width 390px 1);


.wrapper {
  @include outer-container;
  margin-top: 250px;
}

.food {
  @include span-columns(4);

  @include media($tablet) {
    @include span-columns(2);
  }

  @include media($mobile) {
    @include span-columns(1);
  }
}

img {
  max-width: 100%;
}
